#header_nav .container .row a:nth-of-type(1){
    font-size:24px;
    font-weight:bold;
    border-bottom: 1px solid #002f16;
}


/*banner*/

#banner .director{
    bottom:5px;
}
#banner .director li{
    border:1px solid #002f16;
}
#banner .director li.active{
    background: #002f16;
}

/*con*/
#con .container .aside{
    text-align: center;
    position: relative;
    /*overflow: hidden;*/
}
#con .container .aside img{
    width: 200px;
    position:absolute;
    left:-20px;
    z-index: 1;
    top:30px;
}
#con .container .aside .ul-view{
    position: absolute;
    top:132px;
    z-index:5;
}
#con .container .aside .ul-view li {
    background: #002f16;
    color:#f7f7f7;
    width: 150px;
    font-size:18px;
    font-weight:bolder;
    margin-bottom:10px;
    border-radius: 10px;
    padding:10px 0;
    cursor: pointer;
}
#con .container .atical{
    height: auto;
}
#con .container .atical h2{
    font-size:22px;
    border-bottom:1px solid #002f16;
    padding-bottom: 10px;
}

#new_film{
	overflow:hidden;
}

#new_film ul li{
	float:left;
	margin-right:20px;
	width:200px;
	height:350px;
}

#new_film ul li img{
	width:200px;
	height:300px;
}

#new_film ul li dd{
	white-space:wrap;
	margin-top:10px;
}

#hot_film{
	overflow:hidden;
}

#hot_film ul li{
	float:left;
	margin-right:20px;
	width:200px;
	height:350px;
}

#hot_film ul li img{
	width:200px;
	height:300px;
}

#hot_film ul li dd{
	white-space:wrap;
	margin-top:10px;
}

#classical_film{
	overflow:hidden;
}
#classical_film ul li{
	float:left;
	margin-right:20px;
	width:200px;
	height:350px;
}

#classical_film ul li img{
	width:200px;
	height:300px;
}

#classical_film ul li dd{
	white-space:wrap;
	margin-top:10px;
}

#film_detail{
    height: 900px;
    background: url("../images/panda3.jpg") no-repeat 300px 300px;
}
#film_detail .film-intro{
    margin-top:20px;
}
#film_detail .film-intro img{
    width: 200px;
   display: block;
    margin-top:15px;
}

#film_detail .film-comments h3{
    background: #002f16;
    color:#fff;
    padding:10px 10px;
}
#film_detail .film-comments button{
    padding: 5px 10px 5px;
    background: #002f16;
    color:#fff;
}
#film_detail .film-comments p button:nth-of-type(1){
    margin-right:60%;
}
#film_detail .film-comments textarea{
    width: 80%;
    height: 100px;
}
#film_detail .film-comments .submit button{
    margin-left:75%;
}

#film_detail .guobao-com ul{
    width:75%;
    margin-top:30px;
}
#film_detail .guobao-com ul li{
    border-top:1px solid #002f16;
    padding-top:10px;
    margin-bottom:20px;

    /*background:#424242;*/
}
#film_detail .guobao-com ul li .name{
    background: url("../images/panda_icon/Icon_animal_2_14.ICO") no-repeat top left;
    font-size:18px;
    color:#000;
    padding-left: 32px;
}
#film_detail .guobao-com ul li .content{
    text-indent: 2em;
     font-size:14px;
     color:#000;
 }