<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的</title>
    <link rel="stylesheet" href="../css/lib/cssreset-min.css">
    <link rel="stylesheet" href="../css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/mine.css">
    <script src="../js/lib/jquery.min.js"></script>
    <script src="../js/lib/bootstrap.min.js"></script>
</head>
<body>
<!--头部-->
<header id="header">
    <div class="container">
        <div class="row">
            <!--左边-->
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7 header-left">
                <p>hi，欢迎来到果宝影评，享受电影的世界</p>
            </div>
            <!--右边-->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 header-right">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal"
                        data-whatever="@mdo">登录
                </button>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h3 class="modal-title" id="exampleModalLabel">登录</h3>
                            </div>
                            <div class="modal-body">
                                <!--登录表单-->
                                <form>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">用户名:</label>
                                        <input type="text" class="form-control" id="recipient-name">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-password" class="control-label">密码:</label>
                                        <input type="password" class="form-control" id="recipient-password">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="button" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="register.html" class="register">
                    <button class="btn btn-default" type="button">注册</button>
                </a>
            </div>
        </div>
    </div>
</header>
<div id="header_main">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                <h1>果宝影评
                    <img src="../images/panda_icon/logo.ICO" alt="">
                </h1>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                <div class="input-group search-kuang">
                    <input type="text" class="form-control" placeholder="电影的名称" aria-describedby="basic-addon2">
                    <span class="input-group-addon search" id="basic-addon2">搜索</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="header_nav">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <a href="../index.html">首页</a>
                <a href="filmdetail.html">电影详情页</a>
                <a href="#">我的</a>
            </div>
        </div>
    </div>
</div>

<!--con-->
<section class="con">
    <div class="container section">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 content">
                <div class="my-infor">
                    <h3>果宝详情</h3>
                    <p>我的昵称：<span>果宝1</span></p>
                    <p>我的住址：<span>广州</span></p>
                    <p>如果你也是在这个城市的果宝，可以约我看电影吗？</p>
                    <p><img src="../images/erweima.png" alt=""></p>
                    <p>扫一扫，约我吧</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 panda">
                <img src="../images/panda8.jpg">
            </div>
        </div>
    </div>

</section>
<footer id="footer">
    <div class="container">
        <p>果宝们，快点来发布你们的影评吧!!!</p>
    </div>
</footer>

</body>
</html>